{% extends "base.html" %}
{% block title %}Tropic Lightning Week 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="medal">
        <div class="typewriter-page">
            <div class="image-row">
                <img src="{{url_for('static', filename='medal.jpg')}}" alt="MOH">
                <img src="{{url_for('static', filename='heroes/birdwell.jpg')}}" alt="MOH">
                <img src="{{url_for('static', filename='medal.jpg')}}" alt="MOH">
            </div>
            <div class="typewriter-text">
                <p>By the direction of the President, under the Joint Resolution of
                    Congress approved 12 July 1862 (amended by act 3 March 1863, act of 9
                    July 1963), the Medal of Honor for conspicuous gallantry and
                    intrepidity at the risk of life above and beyond the call of duty is
                    awarded posthumously by the Department of the Army in name of Congress
                    to:</p>
                <br>
                <p class="text-center">
                    SPECIALIST FIVE DWIGHT W. BIRDWELL
                </p>
                <p class="text-center">
                    UNITED STATES ARMY
                </p>
                <br>
                <p>Specialist Five Dwight W. Birdwell distinguished himself by acts of
                    gallantry and intrepidity above and beyond the call of duty while
                    serving with C Troop, 3d Squadron, 4th Cavalry, 25th Infantry Division
                    in the Republic of Vietnam on 31 January, 1968. On this date, C Troop
                    was ordered to move south to help repel an enemy attack on Tan Son
                    Nhut Airbase. As the C Troop column of tanks and armored personnel
                    carriers approached the west gate of Tan Son Nhut Airbase, it came
                    under intense enemy fire from a building to its right. Unbeknown to C
                    Troop, it had driven directly into an enemy force consisting of three
                    battalions. The column tried to push through the initial attack but
                    the lead tank, crippled by a rocket-propelled grenade explosion, was
                    blocking the way forward. C Troop immediately came under heavy enemy
                    fire from both sides of the road. Specialist Five Birdwell, upon
                    seeing that his tank commander was wounded by enemy fire, immediately
                    went to his aid. Under intense enemy fire, he lowered the injured tank
                    commander to the ground, and moved him to safety. Specialist Five
                    Birdwell then, with complete disregard for his own safety, mounted the
                    tank and assumed the tank commander&#39;s position. Standing in the tank
                    commander&#39;s hatch with the upper half of his body exposed to heavy
                    enemy fire, Specialist Five Birdwell used the tank&#39;s .50 caliber
                    machine gun and 90mm main gun to suppress the enemy attack. With the
                    ammunition for the 90mm main gun exhausted, he continued to fire the
                    .50 caliber machine gun until it overheated. At this point, Specialist
                    Five Birdwell, rather than abandoning his position, continued to
                    engage the enemy with his M-16 rifle, sometimes exposing his entire                    
                    body to enemy fire in order to engage the enemy from a better vantage
                    point. When a U.S. helicopter crashed nearby, Specialist Five
                    Birdwell, under withering enemy fire, dismounted and moved to the
                    helicopter where he retrieved two M-60 machine guns and ammunition.
                    After giving one M-60 and ammunition to a fellow soldier, he remounted
                    his tank and used the other M-60 to again engage the enemy. Specialist
                    Five Birdwell continued to engage the enemy with complete disregard
                    for his own safety until the M-60 he was firing was hit by enemy fire.
                    Specialist Five Birdwell, now wounded in the face, neck, chest, and
                    arms, dismounted the tank but refused to be medically evacuated.
                    Instead, Specialist Five Birdwell, under enemy fire, rallied fellow
                    soldiers to advance toward the front of the armored column where they
                    set up a defensive position by a large tree. From this position, he
                    and the other soldiers engaged the enemy with M-16 fire and grenades.
                    As the enemy fire lessened, Specialist Five Birdwell gathered
                    ammunition from disabled vehicles and helped wounded soldiers move to
                    safer positions. His leadership and tenacity under fire inspired the
                    other C Troop soldiers to continue fighting against the superior enemy
                    force, and directly contributed to the enemy&#39;s ultimate defeat.
                    Specialist Five Birdwell&#39;s extraordinary heroism and selflessness
                    above and beyond the call of duty were in keeping with the highest
                    traditions of military service and reflect great credit upon himself,
                    his unit, and the United States Army.</p>
            </div>
        </div>
    </div>
{% endblock %}