{% extends "base.html" %}
{% block title %}Tropic Lightning Week 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-md">
    <h6>Logged in as {{user_code}}</h6>

    <hr>

    {% for event in events_access %}
    <form action="{{ url_for('account') }}" method="POST">
        <input type="hidden" name="event_id" value="{{event}}">
        <input class="btn btn-secondary" type="submit" value="{{events[event].name}}">
    </form>
    <br>
    {% endfor %}

    <form action="{{ url_for('account') }}" method="POST">
        <input type="hidden" name="event_id" value="-1">
        <input class="btn btn-danger" type="submit" value="Log Out">
    </form>
</div>

{% endblock %}