{% extends "base.html" %}
{% block title %}Tropic Lightning Week 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-md">
    <form action="{{ url_for('account') }}"><input type="submit" class="btn btn-secondary" value="Back"></form>
    <hr>

    <form action="{{ url_for('admin') }}" method="POST">
        <input type="hidden" name="request_code" value="UPDATE_SCOREBOARD">
        <input class="btn btn-secondary" type="submit" value="Force Scoreboard Update">
        <label>Update the scoreboard display. This can take a while, please be patient!</label>
    </form>
    <br>

    <form action="{{ url_for('admin') }}" method="POST">
        <input type="hidden" name="request_code" value="BACKUP_SCOREBOARD">
        <input class="btn btn-secondary" type="submit" value="Create Scoreboard Backup">
        <label>Create a .csv backup of the scoreboard.</label>
    </form>
    <br>

    <form action="{{ url_for('admin') }}" method="POST">
        <input type="hidden" name="request_code" value="BACKUP_DATABASE">
        <input class="btn btn-secondary" type="submit" value="Create Database Backup">
        <Label>Create a backup of the entire database.</Label>
    </form>
    <br>

        <form action="{{ url_for('admin') }}" method="POST">
        <input type="hidden" name="request_code" value="CREATE_NEW_USER">
        <input class="btn btn-secondary" type="submit" value="Create New Login Code">
        <label>Generate a new login code for a user.</label>
    </form>
    <br>

    <hr>

    <h6>Active accounts</h6>
    <ul class="list-group">
        {% for user in user_list %}
        <li class="list-group-item">
            <form action="{{ url_for('admin') }}" method="POST">
                <input type="hidden" name="request_code" value="VIEWUSER_{{user.id}}">
                <input class="btn btn-secondary" type="submit" value="{{user.code}}">
            </form>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}