{% extends "base.html" %}
{% block title %}Guadalcanal Cup 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-md">
        <h4>Upload Scores for {{ event.name }}</h4>
        <h6>Logged in as {{user_code}}</h6>
        <form action=" {{url_for('account') }}"><input type="submit" class="btn btn-secondary" value="Back"></form>
    </div>
    <hr>
    <div class="container-md">
        <form class="form-inline" action="{{ url_for('submit') }}" method="POST">
            <ul class="container-md list-group text-center">
                {% for team in teams %}
                <li class="list-group-item bg-secondary border border-dark">
                    <label for="teamid_{{ team.id }}" class="mr-sm-2">{{ team.name }}</label>
                    <select class="form-control form-control-sm form-control mb-2 mr-sm-2" id="teamid_{{ team.id }}" name="teamid_{{ team.id }}">
                        <option value="0">Select placement</option>
                        {% for placement in placements %}
                        <option value="{{placement[0]}}" {% if placement[0]==team_placements[team.id] %} selected {% endif %}>
                            {{placement[1]}}
                        </option>
                        {% endfor %}
                    </select>
                </li>
                {% endfor %}
            </ul>
            <br>
            <input type="submit" class="btn btn-success" value="Submit score for {{event.name}}">
        </form>
    </div>
<!--TODO: confirmation message showing what info you're editing-->
{% endblock %}