<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
    <title>2023 Guadalcanal Cup</title>
</head>

<body>
    <div class="title">
        <h1 class>2023 Guadalcanal Cup</h1>
    </div>
    <hr>
    <div class="section">
        <h2>Current Leaderboard</h2>
        <div class="battalion-holder">
            {% for team in teams %}
            <button class="battalion" id="button_teamid_{{ team.id }}">{{ team.name }}<br>{{ team.score }} Points</button>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="section">
        <h2>Scoreboard</h2>
        <br>
        <div class="scoreboard">
            <table class="scoreboard">
                {% for row in scoreboard %}
                    {% if row[0]=="Teams" %}
                        <tr class="scoreboard-header">
                        {% for item in row %}
                            <th class="scoreboard-item">{{ item }}</th>
                        {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="scoreboard-row">
                        {% for item in row %}
                            <td class="scoreboard-item">{{ item }}</td>
                        {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <footer class="dev-info">
        <a href="{{ url_for('login') }}"><button class="update-score">Update Score</button></a>
        <p>Created by Lightning Labs</p>
        <a href="mailto:usarmy.schofield.25-id.mbx.lightling-labs-innovations-mailbox@army.mil">Contact us</a></p>
    </footer>
</body>
</html>
