{% extends "base.html" %}
{% block title %}Tropic Lightning Week 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="container-flex">
    <img src="/static/display/tlw_banner_1.png" width="100%" class="img-responsive">
</div>
<hr>
<div class="container-flex">
        <div class="container-md text-center">
            <h1>Tropic Lightning Week 2023</h1>
            <h4>Honoring Our Legacy. Relentless Pursuit of Excellence.</h4>
            <p>28 November - 1 December 2023<br>Schofield Barracks, Hawaii</p>
        </div>
        <div class="container-md text-left">
            <p>The 25th Infantry Division was formed on 1 October 1941 at Schofield Barracks from its antecedent, the Hawaiian
                Division. One year following the 7 December 1941 Japanese attack on Oahu, the Division went into action at
                Guadalcanal where it earned the nickname ‘Tropic Lightning’ for its quick defeat of the enemy. America’s Pacific
                Division will celebrate its 82nd birthday with a four-day series of events called ‘Tropic Lightning Week’.</p>
            <p>This four-day event will result in one Battalion being named the Guadalcanal Cup Champion.</p>
        </div>
        <div class="container-md text-left">
            <h6><b>Location</b></h6>
            <p>Schofield Barracks</p>
        </div>
        <div class="container-md text-left">
            <h6><b>Date & Time</b></h6>
            <p>November 28 - December 1, 2023<br>6:30 AM - 5:00 PM</p>
        </div>
</div>

<hr>

<div class="container-flex">
    <img src="static/display/tlw_banner_2.png" width="100%" class="img-responsive">
</div>
<hr>



<div class="container-md text-left">
    <h2>Events</h2>
    <div class="card">
        <div class="card-header">
            <strong>Competitive Events</strong>
        </div>
        <div class="card-body">
            CPT Riley Pitts Softball Tournament<br>
            T4 Laverne Parrish Ultimate Frisbee Tournament<br>
            CPL Benito Martinez Tug-O-War Tournament<br>
            CPT Robert Foley Basketball Tournament<br>
            PFC William Thompson Volleyball Tournament<br>
            MSG Charles McGaha Video Game Tournament<br>
            SP4 Ardie Copas Weightlifting Tournament<br>
            CPT Lewis Millett Combatives Tournament<br>
            CPT Reginald Desiderio Football Tournament<br>
            SP4 Daniel Fernandez Bowling Competition<br>
            MSG Charles McGaha Video Game Tournament<br>
            CPT Ronald Ray Cook-Off<br>
            PFC Bryant Womack Surf Competition<br>
            Field Feeding Cook-Off<br>
            1LT John Warren Drone Competition<br>
            SGT William Fournier Swimming Relay<br>
            Bob Hope Talent Show<br>
            SSG Raymond Cooley 10K Race<br>
            SP5 Dwight Birdwell Stress Shoot
        </div>
    </div>

    <h2>Schedule</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTuesday">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTuesday" aria-expanded="false" aria-controls="collapseTuesday">
                  <strong>Tuesday, 28 November 2023</strong>
                </button>
              </h5>
            </div>

            <div id="collapseTuesday" class="collapse" aria-labelledby="headingTuesday" data-parent="#accordion">
                <div class="card-body text-dark">
                    <h4>6:30 AM</h4>
                    <h5><strong>Division Run</strong></h5>
                    <p><a href="javascript:showLocation('Weyand Field')">Weyand Field</a></p>
                    <h4>9:00 AM</h4>
                    <h5><strong>Competitive Events</strong></h5>
                    <p>
                        CPT Riley Pitts Softball Tournament [<a href="javascript:showLocation('Stoneman Sports Complex')">Stoneman Sports Complex</a>]<br>
                        T4 Laverne Parrish Ultimate Frisbee Tournament [<a href="javascript:showLocation('Leaders Field')">Leader's Field</a>]<br>
                        CPL Benito Martinez Tug-O-War Tournament [<a href="javascript:showLocation('Stoneman Sports Complex')">Stoneman Sports Complex</a>]<br>
                        CPT Robert Foley Basketball Tournament [<a href="javascript:showLocation('E Quad')">E Quad</a>]<br>
                        PFC William Thompson Volleyball Tournament [<a href="javascript:showLocation('Tropics Recreation Center')">Tropics Recreation Center</a>]<br>
                        MSG Charles McGaha Video Game Tournament [<a href="javascript:showLocation('Tropics Recreation Center')">Tropics Recreation Center</a>]<br>
                        SP4 Ardie Copas Weightlifting Tournament [<a href="javascript:showLocation('Martinez Physical Fitness Center')">Martinez Physical Fitness Center</a>]<br>
                        CPT Lewis Millett Combatives Tournament [<a href="javascript:showLocation('Martinez Physical Fitness Center')">Martinez Physical Fitness Center</a>]
                    </p>
                    <h4>1:00 PM</h4>
                    <h5><strong>Bob Hope Talent Show</strong></h5>
                    <p><a href="javascript:showLocation('SGT Smith Theater')">SGT Smith Theater</a></p>
                    <h4>4:00 PM</h4>
                    <h5><strong>Tropic Lightning Association Recognition Ceremony</strong></h5>
                    <p><a href="javascript:showLocation('Tropic Lightning Memorial')">Tropic Lightning Memorial</a></p>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingWednesday">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday">
                  <strong>Wednesday, 29 November 2023</strong>
                </button>
              </h5>
            </div>

            <div id="collapseWednesday" class="collapse" aria-labelledby="headingWednesday" data-parent="#accordion">
                <div class="card-body text-dark">
                    <h4>9:00 AM</h4>
                    <h5><strong>Competitive Events</strong></h5>
                    <p>
                        CPT Riley Pitts Softball Tournament [<a href="javascript:showLocation('Stoneman Sports Complex')">Stoneman Sports Complex</a>]<br>
                        T4 Laverne Parrish Ultimate Frisbee Tournament [<a href="javascript:showLocation('Leaders Field')">Leader's Field</a>]<br>
                        CPT Reginald Desiderio Football Tournament [<a href="javascript:showLocation('Stoneman Sports Complex')">Stoneman Sports Complex</a>]<br>
                        SP4 Daniel Fernandez Bowling Competition [<a href="javascript:showLocation('Schofield Bowling Center')">Schofield Bowling Center</a>]<br>
                        MSG Charles McGaha Video Game Tournament [<a href="javascript:showLocation('Tropics Recreation Center')">Tropics Recreation Center</a>]<br>
                        CPT Ronald Ray Cook-Off [<a href="javascript:showLocation('Culinary Lab')">Culinary Lab</a>]<br>
                        PFC Bryant Womack Surf Competition [<a href="javascript:showLocation('White Plains Beach')">White Plains Beach</a>]<br>
                        SP4 Ardie Copas Weightlifting Tournament [<a href="javascript:showLocation('Martinez Physical Fitness Center')">Martinez Physical Fitness Center</a>]<br>
                        CPT Lewis Millett Combatives Tournament [<a href="javascript:showLocation('Martinez Physical Fitness Center')">Martinez Physical Fitness Center</a>]<br>
                        Field Feeding Cook-Off [<a href="javascript:showLocation('Weyand Field')">Weyand Field</a>]
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThursday">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThursday" aria-expanded="false" aria-controls="collapseThursday">
                  <strong>Thursday, 30 November 2023</strong>
                </button>
              </h5>
            </div>

            <div id="collapseThursday" class="collapse" aria-labelledby="headingThursday" data-parent="#accordion">
                <div class="card-body text-dark">
                    <h4>6:30 AM</h4>
                    <h5><strong>SSG Raymond Cooley 10K Race</strong></h5>
                    <p><a href="javascript:showLocation('Weyand Field')">Weyand Field</a></p>

                    <h4>9:00 AM</h4>
                    <h5><strong>Competitive Events</strong></h5>
                    <p>
                        CPT Riley Pitts Softball Tournament [<a href="javascript:showLocation('Stoneman Sports Complex')">Stoneman Sports Complex</a>]<br>
                        T4 Laverne Parrish Ultimate Frisbee Tournament [<a href="javascript:showLocation('Leaders Field')">Leader's Field</a>]<br>
                        CPT Reginald Desiderio Football Tournament [<a href="javascript:showLocation('Stoneman Sports Complex')">Stoneman Sports Complex</a>]<br>
                        MSG Charles McGaha Video Game Tournament [<a href="javascript:showLocation('Tropics Recreation Center')">Tropics Recreation Center</a>]<br>
                        CPT Ronald Ray Cook-Off [<a href="javascript:showLocation('Culinary Lab')">Culinary Lab</a>]<br>
                        PFC Bryant Womack Surf Competition [<a href="javascript:showLocation('White Plains Beach')">White Plains Beach</a>]<br>
                        SP4 Ardie Copas Weightlifting Tournament [<a href="javascript:showLocation('Martinez Physical Fitness Center')">Martinez Physical Fitness Center</a>]<br>
                        CPT Lewis Millett Combatives Tournament [<a href="javascript:showLocation('Martinez Physical Fitness Center')">Martinez Physical Fitness Center</a>]<br>
                        1LT John Warren Drone Competition [<a href="javascript:showLocation('E Quad')">E Quad</a>]<br>
                        SGT William Fournier Swimming Relay [<a href="javascript:showLocation('Richardson Pool')">Richardson Pool</a>]
                        SP5 Dwight Birdwell Stress Shoot [<a href="javascript:showLocation('Range CR2')">Range SB/CR-2</a>]
                    </p>

                    <h4>4:00 PM</h4>
                    <h5><strong>Tropic Lightning Foundation Induction Ceremony</strong></h5>
                    <p><a href="javascript:showLocation('Tropic Lightning Memorial')">Tropic Lightning Memorial</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFriday">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFriday" aria-expanded="false" aria-controls="collapseFriday">
                  <strong>Friday, 1 December 2023</strong>
                </button>
              </h5>
            </div>

            <div id="collapseFriday" class="collapse" aria-labelledby="headingFriday" data-parent="#accordion">
                <div class="card-body text-dark">
                    <h4>10:30 AM</h4>
                    <h5><strong>Closing Ceremony</strong></h5>
                    <p><a href="javascript:showLocation('Weyand Field')">Weyand Field</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-md text-center">
    <h2>Event Map</h2>
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script>
        var map;
        var marker=null;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 21.495086078644515, lng: -158.0623113966433},
            zoom: 14,
            });
        };

        var locations = {
            "Weyand Field": {lat: 21.49115270988194, lng: -158.05928278670592},
            "Stoneman Sports Complex": {lat: 21.498019691749196, lng: -158.05189535726626},
            "Leaders Field": {lat: 21.491935797469335, lng: -158.08071314104825},
            "E Quad": {lat: 21.492940626379337, lng: -158.0544807738424},
            "Tropics Recreation Center": {lat: 21.490546247351872, lng: -158.05384630308},
            "Martinez Physical Fitness Center": {lat: 21.489567293464024, lng: -158.0531372248238},
            "SGT Smith Theater": {lat: 21.49204379463468, lng: -158.05602205881257},
            "Tropic Lightning Memorial": {lat: 21.490134939181367, lng: -158.05888836463802},
            "White Plains Beach": {lat: 21.303668257421904, lng: -158.04521400393108},
            "Schofield Bowling Center": {lat: 21.490304226975162, lng: -158.05621537479138},
            "Culinary Lab": {lat: 21.492400594061255, lng: -158.0546852751289},
            "Richardson Pool": {lat: 21.489725940782293, lng: -158.060508795961}
            "Range CR2": {lat: 21.49905479336757, lng: -158.08229578700534}
        };

        function showLocation(locationName) {
            map.zoom=17;
            document.getElementById('map').scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
            var location = locations[locationName];
            if (location) {
                if (marker) {
                    // Remove the previous marker when user clicks on a link
                    marker.setMap(null);
                }
                map.setCenter(location);
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: locationName
                });
            }
        };
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{GMAP}}&callback=initMap"></script>
</div>

<hr>
<div class="container-flex text-center bg-dark text-light" style="height: 800px;">
    <br><br><br><br>
    <h1><b>Tropic Lightning. Strike Hard.</b></h1>
</div>
{% endblock %}