{% extends "base.html" %}
{% block title %}Tropic Lightning Week 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-md">
        <label>Enter login code</label>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Login Code" id="password" name="password">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
            </div>
        </form>
    </div>
{% endblock %}