<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
    <title>Log In</title>
</head>
<body>
    <div class="title">
        <h4>Enter your login information</h4>
        <form action="http://localhost:5000/result" method="POST">
<!--            ensure form action is updated to correct address-->
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
<!--        TODO: implement login logic-->
    </div>
    <footer class="dev-info">
        <p>Created by Lightning Labs</p>
        <a href="mailto:usarmy.schofield.25-id.mbx.lightling-labs-innovations-mailbox@army.mil">Contact us</a></p>
    </footer>
</body>
</html>