{% extends "base.html" %}
{% block title %}Guadalcanal Cup 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-md">
        {% if show_leaderboard %}
        <div class="container-md text-center">
            <hr>
            <h2>Leaderboard - Total Scores</h2>
            <ul class="container-fluid list-group text-center">
                {% for team in teams %}
                <li class="list-group-item bg-secondary text-light">
                    <img src="static/insignia/{{team['name']}}.png" height="50">
                    {{ team["name"] }}  -  {{ team["score"] }} Points
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="container-md text-center">
            <hr>
            <h2>Scoreboard</h2>
            {% if show_scoreboard %}
            <div class="container-md row flex-nowrap overflow-auto">
                <table class="table table-sm table-responsive-sm table-dark table-bordered text-center">
                    {% for row in scoreboard %}
                        {% if row==scoreboard[0] %}
                        <tr class="table-secondary text-dark">
                            {% for item in row %}
                                {% if item==row[0] %}
                                    <th class="align-middle"></th>
                                {% else %}
                                    <th class="align-middle">
                                        <form action="{{ url_for('scores') }}" method="POST">
                                            <input type="hidden" name="request_code" value="TEAM_{{item}}">
                                            <input class="btn btn-secondary" type="submit" value="{{item}}">
                                        </form>
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% else %}
                        <tr>
                            {% for item in row %}

                            {% if item==row[0] %}
                            <td>
                            <form action="{{ url_for('scores') }}" method="POST">
                                <input type="hidden" name="request_code" value="EVENT_{{item}}">
                                <input class="btn btn-secondary" type="submit" value="{{item}}">
                            </form>
                            </td>

                            {% else %}
                            <td class="align-middle">{{ item }}</td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <form action="{{ url_for('scores') }}">
                <input class="btn btn-primary my-3" type="submit" value="Refresh">
            </form>

            <div class="container-md row flex-nowrap overflow-auto">
                <table class="table table-sm table-responsive-sm table-dark table-bordered text-center">
                    {% for item in requested_info %}
                    <tr class="table-secondary text-dark">
                        <td>
                            {{item}}
                        </td>
                        <td>
                            {{requested_info[item]}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            {% endif %}
        </div>

    </div>
{% endblock %}
