{% extends "base.html" %}
{% block title %}Tropic Lightning Week 2023{% endblock %}
{% block content %}
<div class="container-flex">
    <img src="{{url_for('static', filename='display/tlw_banner_1.png')}}" width="100%" class="img-responsive">
</div>
<hr>
<div class="container-md text-center">
    <hr>
    <h2>Leaderboard<br>Total Scores</h2>
    <ul class="container-fluid list-group text-center">
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
        <li class="list-group-item bg-secondary text-light blurred-overlay">
            <img src="static/insignia/HHBN.png" height="50">
            HHBN  -  1000 Points
        </li>
    </ul>
</div>
<div class="container-flex text-center bg-dark text-light" style="height: 800px;">
    <br><br><br><br>
    <h1><b>Tropic Lightning. Strike Hard.</b></h1>
</div>
{% endblock %}