{% extends "base.html" %}
{% block title %}Guadalcanal Cup 2023{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-md">
        <br>
        <form action="{{ url_for('admin') }}"><input type="submit" class="btn btn-secondary" value="Back"></form>
        <label>Permissions for: {{view_user.code}}</label>
        <ul class="list-group">
            {% for eventKey in event_dict %}
            <li class="list-group-item text-dark">
                {% if event_dict[eventKey]["permission"] %}
                <form action="{{ url_for('viewuser') }}" method="POST">
                    <input type="hidden" name="request_code" value="REMOVE_{{eventKey}}">
                    <input class="btn btn-success" type="submit" value="{{event_dict[eventKey]['event_name']}}">
                    <Label>Remove user access: {{event_dict[eventKey]['event_name']}}</Label>
                </form>
                {% else %}
                <form action="{{ url_for('viewuser') }}" method="POST">
                    <input type="hidden" name="request_code" value="ADD_{{eventKey}}">
                    <input class="btn btn-danger" type="submit" value="{{event_dict[eventKey]['event_name']}}">
                    <Label>Add user access: {{event_dict[eventKey]['event_name']}}</Label>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}